/* New font declaration to match the style of my github pages website */
@font-face {
  font-family: 'chulapa';
  src: url('./assets/fonts/Chulapa-Bold_vmod.otf') format('opentype');
  font-display: fallback;
}

body {
  font-family: chulapa, Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
  display: flex;     /* Add flexbox properties to center .App */
  justify-content: center;
  align-items: center;
  height: 100vh;     /* 100% of the viewport height */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  max-width: 800px;
  width: 100%;       /* Take the full width up to max-width */
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 1em;
}

button {
  background-color: #00A67E; /* chatgpt green lol */
  color: #ffffff;
  font-size: 1.2em;         /* Increased font-size */
  padding: 15px 25px;      /* Increased padding */
  border-radius: 12px;     /* Made it curvier */
  border: none;
  display: block;          /* This and the next line will center the button */
  margin: 20px auto;       /* Increased margin-top and auto for left/right centering */
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008B6B;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 30px 0 10px 0;
}

p {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.6;
}
