/* New font declaration to match the style of my github pages website
@font-face {
  font-family: 'chulapa';
  src: url('./assets/fonts/Chulapa-Bold_vmod.otf') format('opentype');
  font-display: fallback;
} */


body {
  font-family: "SF Pro Text", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  background: var(--fbc-white);
  color: var(--fbc-primary-text);
  display: flex;     /* Add flexbox properties to center .App */
  justify-content: center;
  align-items: center;
  height: 100vh;     /* 100% of the viewport height */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  max-width: 800px;
  width: 100%;       /* Take the full width up to max-width */
  background-color: var(--fbc-light-gray);
  border-radius: 8px;
  border: 1px solid var(--fbc-secondary-text);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 1em;
}

button {
  background-color: #00A67E; /* chatgpt green lol */
  color: var(--fbc-light-gray);
  font-size: 1.2em;         /* Increased font-size */
  padding: 15px 25px;      /* Increased padding */
  border-radius: 12px;     /* Made it curvier */
  border: none;
  display: block;          /* This and the next line will center the button */
  margin: 20px auto;       /* Increased margin-top and auto for left/right centering */
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008B6B;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 30px 0 10px 0;
}

p {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.6;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/DALL·E 2023-08-29 19.39.34 - Create a mid-century modern geometric pattern using the following colors #9b993d (Metallic Sunburst), #d5a7b6 (Pale Chestnut), #300764 (Deep Violet).png');
  opacity: 0.5; /* Adjust this value if you want the image to be more or less transparent */
  z-index: -1; /* To ensure it stays behind the content */
}
